.composition {

    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        // elements will be placed according to a reference. The reference is the first parent it encounters that 
        // has its position set to something
        position: absolute;
        z-index: 10;
        transition: all .2s;

        // this gives the border some padding. We cannot make a space with a border, we can this do this with an outline
        // offset though
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            // starts from right side of the container, moves 0 px from right side
            // of the container
            right: 0;
            top: 2rem;
        }

        &--p3 {
            // 10 rem from the top means it will be 10 from the top
            left: 20%;
            top: 15rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }

    }

    // if we hover over this parent element, then anything within the container that was not hovered
    // decreases in size
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }

}